---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
</head>
<body class="bg-gray-900 text-white">
    <slot />
</body>
</html>